

    <div class="home-nav">
        <div class="home-nav-inner po-relative">

            <div class="">
                <ul class="">
                    <li class="" ng-click="$navigate.go('/shop')">
                        <p class="text-center">店铺</p>
                    </li>
                    <!--<li class="" ng-click="$navigate.go('/member')">-->
                        <!--<p class="text-center">会员</p>-->
                    <!--</li>-->
                    <!--<li class="" ng-click="$navigate.go('/activity')">-->
                        <!--<p class="text-center">活动</p>-->
                    <!--</li>-->
                    <!--<li class="" ng-click="$navigate.go('/integralMall')">-->
                        <!--<p class="text-center" style="position: relative; left: -6px;">积分商城</p>-->
                    <!--</li>-->
                    <!--<li class="" ng-click="$navigate.go('/coupon')">-->
                        <!--<p class="text-center">优惠券</p>-->
                    <!--</li>-->
                    <!--<li class="" ng-click="$navigate.go('/map')">-->
                        <!--<p class="text-center">地图</p>-->
                    <!--</li>-->
                    <!--<li class="" ng-click="$navigate.go('/park')">-->
                        <!--<p class="text-center">停车</p>-->
                    <!--</li>-->
                    <!--<li class="" ng-click="$navigate.go('/customerService')">-->
                        <!--<p>客服</p>-->
                    <!--</li>-->
                    <li class="" ng-click="$navigate.go('/page1')">
                        <p>go to page1</p>
                    </li>


                </ul>
            </div>
        </div>
    </div>
